.app {
   position: relative;
   display: grid;
   overflow: hidden;
   min-height: 100vh;
}

.title {
   font-weight: 400;
}

.overlay-container {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border-bottom: 4px solid var(--color-accent-normal);
   font-size: 0.75rem;
   pointer-events: none;
}

.overlay-container div {
   pointer-events: all;
}

.preview-warning {
   position: absolute;
   bottom: 0;
   padding: 1em 2em;
   border-radius: var(--border-radius) var(--border-radius) 0 0;
   background-color: var(--color-accent-normal);
   text-align: center;
}

.preview-warning * {
   color: var(--color-text-white) !important;
}
