.main-nav {
   --nav-height: 4em;
   --nav-open-height: 25em;

   height: var(--nav-height);
}

.main-nav .nav {
   position: fixed;
   z-index: 100;
   overflow: hidden;
   width: 100%;
   height: var(--nav-height);
}

/* Open */
.main-nav .nav.open-details {
   height: var(--nav-open-height);
}

.main-nav .nav.open-details-active {
   transition-timing-function: ease;
   transition-duration: var(--transition-normal);
   transition-property: height, background-color;
}

/* Items */
.nav .title {
   margin-right: 1em;
   padding: 0;
}

.nav .nav-items {
   display: flex;
   align-items: center;
   height: var(--nav-height);
   white-space: nowrap;
}

.nav .nav-items a {
   padding: 0.5em 1em;
   background: transparent;
}

/* Details */
.nav .nav-details {
   overflow: auto;
   height: var(--nav-open-height);
}

.nav .nav-details-items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1em;
   padding: 0 2em;
}

@media only screen and (max-width: 900px) {
   .nav .nav-details-items {
      grid-template-columns: 1fr 1fr;
   }
}

@media only screen and (max-width: 600px) {
   .nav .nav-details-items {
      grid-template-columns: 1fr;
   }

   .main-nav .nav.open-details,
   .nav .nav-details {
      height: 100%;
   }
}
