.main-nav {
   --nav-height: 4em;
   --nav-open-height: 25em;

   height: var(--nav-height);
   z-index: 100;
}

.main-nav .nav {
   position: fixed;
   width: 100%;
   height: var(--nav-height);
   overflow: hidden;
}

/* Open */
.main-nav .nav.open-details {
   height: var(--nav-open-height);
}

.main-nav .nav.open-details-active {
   transition-timing-function: ease;
   transition-duration: var(--transition-normal);
   transition-property: height, background-color;
}

/* Items */
.nav .title {
   margin-right: 1em;
   padding: 0;
}

.nav .nav-items {
   display: flex;
   align-items: center;
   height: var(--nav-height);
   white-space: nowrap;
}

.nav .nav-link * {
   pointer-events: none;
}

.nav .nav-menu {
   display: none;
}

.nav .nav-items a {
   padding: 0.5em 1em;
   background: transparent;
}

/* Details */
.nav .nav-details {
   overflow: auto;
   height: calc(var(--nav-open-height) - var(--nav-height));
}

.nav .nav-details-items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1em;
   padding: 0 2em;
}

@media only screen and (max-width: 900px) {
   .nav .nav-details-items {
      grid-template-columns: 1fr 1fr;
   }
}

@media only screen and (max-width: 600px) {
   .nav .nav-details-items {
      grid-template-columns: 1fr;
   }

   .main-nav .nav.open-details {
      height: 100vh;
   }

   .nav .nav-details {
      height: calc(100vh - var(--nav-height));
   }

   .nav .nav-link {
      display: none;
   }

   .nav .nav-menu {
      display: block;
   }
}
